#dp{margin:0 auto;min-width:1000px;max-width:1500px;background-color:#fff}
/* ******** */
#amznStoresBylineLogoTextContainer{margin-left:8px}#amznStoresBylineLogoImageContainer{flex-shrink:0}#amznStoresBylineLogoImage{border-radius:50%;border:1px solid #f0f0f0}.amznStoresTruncateSingleLine{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.amznStoresVerticallyCenterContents{display:flex;align-items:center}
/* ******** */
